@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.card {
  width: 100%;
  margin: 0 auto;
  max-width: 330px;
  transition: all 0.5s;
  border-radius: 10px;
}
.card .card__image {
  width: 100%;
  height: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}
.card .price {
  padding: 12px;
}

.card:hover {
  box-shadow: -10px 4px 20px hsl(220deg, 14%, 75%);
  transform: scale(1, 1);
}

.detail {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 20px;
  max-width: 550px;
  margin: 0 auto;
}

.detail__company {
  color: hsl(26deg, 100%, 55%);
  font-size: 16px;
  padding-bottom: 10px;
}

.detail__name {
  font-size: 30px;
  width: 100%;
  max-width: 500px;
  color: hsl(220deg, 13%, 13%);
  padding-bottom: 10px;
}

.detail__description {
  font-size: 16px;
  color: hsl(219deg, 9%, 45%);
  max-width: 550px;
  line-height: 26px;
  width: 100%;
  padding-bottom: 10px;
}

.detail__add {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 20px;
  justify-content: space-between;
  max-width: 550px;
  padding-top: 30px;
}

.detail__buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  background: hsl(223deg, 64%, 98%);
  border-radius: 10px;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 14px;
}

.detail__btn {
  cursor: pointer;
  background: hsl(223deg, 64%, 98%);
  border: none;
}

.detail__btn:hover {
  opacity: 0.8;
}

.detail__count {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
}

.detail__addTocartBtn {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 20% auto;
  justify-content: center;
  border: none;
  background: hsl(26deg, 100%, 55%);
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  text-align: start;
}

.detail__addTocartBtn:hover {
  opacity: 0.8;
}

.detail__addToCartBtn {
  max-width: 24px;
}

@media screen and (min-width: 800px) {
  .detail {
    padding: 30px;
    padding-top: 80px;
  }

  .detail__name {
    font-size: 40px;
    padding-bottom: 30px;
  }

  .detail__add {
    grid-template-columns: 48% 48%;
    max-width: 420px;
  }

  .detail__buttons {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .detail__addTocartBtn {
    grid-template-columns: 30% auto;
    text-align: center;
  }

  .detail__description {
    max-width: 420px;
  }
}
.nav__list {
  width: 100%;
  max-width: 400px;
  min-height: 220px;
  border-radius: 10px;
  margin: 0 auto;
}
.nav__list .nav__subtitle {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  border-bottom: 3px solid hsl(223deg, 64%, 98%);
}

.nav__listCartEmpty {
  height: 100%;
  min-height: 177px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(219deg, 9%, 45%);
  font-weight: 700;
}

.nav__list--mobile {
  box-shadow: none;
}

.nav__listShopping {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.nav__listShopping .nav__imgShopping {
  width: 55px;
  max-height: 55px;
  object-fit: cover;
  border-radius: 4px;
}
.nav__listShopping .nav__listShoppingDetails {
  color: hsl(219deg, 9%, 45%);
  cursor: default;
}
.nav__listShopping .nav__listShoppingPrices--strong {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
.nav__listShopping .nav__iconDelete {
  display: flex;
  align-items: center;
}
.nav__listShopping .nav__iconDelete .nav__listShoppingDelete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav__check {
  min-height: 60px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.nav__check .nav__checkBtn {
  background-color: hsl(26deg, 100%, 55%);
  width: 100%;
  height: 100%;
  min-height: 50px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.modal__container {
  width: 90%;
  height: 80%;
  max-width: 450px;
}

.modal__close {
  height: 10%;
  display: flex;
  width: 86%;
  align-items: center;
  justify-content: flex-end;
}

.modal__closeSvg {
  cursor: pointer;
}

.modal__closeSvg path {
  fill: white;
  transition: all 0.5s;
}

.modal__closeSvg:hover path {
  fill: hsl(26deg, 100%, 55%);
}

.modal__imageMainImg {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.modal__imageMainImg .modal__imgMain {
  width: 100%;
  height: 100%;
  max-width: 600px;
  border-radius: 20px;
}

@media screen and (min-width: 780px) {
  .modal__container {
    width: 50%;
    height: 80%;
    max-width: 800px;
  }
}
.nav {
  padding-bottom: 20px;
}

.nav__mobile {
  padding: 20px;
  padding-bottom: 0;
  padding-left: 0px;
  padding-right: 5px;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  position: relative;
}
.nav__mobile .nav__logo--mobile {
  display: flex;
  align-items: center;
}

.nav__cart {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 40%;
  justify-self: flex-end;
  min-width: 100px;
}
.nav__cart .nav__cartShopping {
  position: relative;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
}
.nav__cart .nav__cartShopping .nav__cartNumber {
  position: absolute;
  top: 0;
  right: 0;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.8em;
  cursor: default;
  top: 6%;
  right: 20%;
}
.nav__cart .login {
  display: flex;
  align-items: center;
}
.nav__cart .login {
  max-width: 30px;
}

.nav__miniCard {
  position: absolute;
  width: 94%;
  top: 120%;
  justify-self: center;
  max-width: 400px;
  background-color: white;
  box-shadow: -10px 4px 20px hsl(220deg, 14%, 75%);
  border-radius: 6 px;
}

.nav__desktop .nav__primary {
  word-spacing: 40px;
  font-family: arial;
  display: flex;
  justify-content: space-between;
  background-color: #d1cccc;
}
.nav__desktop .nav__primary .social li {
  margin: 10px 25px;
}
.nav__desktop .nav__primary ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0 30px;
  padding: 0;
  overflow: hidden;
}
.nav__desktop .nav__primary ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav__desktop .nav__primary ul li a:hover {
  background-color: #e10a13;
}
.nav__desktop .nav__primary ul li:last-of-type a {
  background-color: #e10a13;
}
.nav__desktop .nav__sec {
  position: relative;
  display: none;
  background-color: #f5f5f5;
  grid-template-columns: 20% auto 30%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  border-bottom: 3px solid #f5f5f5;
  min-height: 80px;
}
.nav__desktop .nav__sec .nav__logo-desktop {
  margin-left: 100px;
  max-width: 200px;
}
.nav__desktop .nav__sec .nav__search {
  width: 60%;
  height: 40px;
  margin: 0;
  position: relative;
  background: #f5f5f5;
  margin: auto;
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__desktop .nav__sec .nav__search input {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #e10a13;
  color: #403c3c;
  box-shadow: none;
  outline: 0;
  border-radius: 0 !important;
  padding: 6px 12px;
  line-height: 1.5;
}
.nav__desktop .nav__sec .nav__search button {
  background: 0 0;
  outline: 0;
  border: none;
  display: block;
  width: 50px;
  height: 100%;
  position: relative;
  float: right;
  color: #000;
  background-color: #e10a13;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.nav__desktop .nav__sec .nav__miniCard--desktop {
  top: 95%;
  right: 0;
}
.nav__desktop .nav__sec .nav__cart--desktop {
  justify-self: flex-end;
  display: grid;
  width: 100%;
  min-width: 100px;
  margin-right: 100px;
}
.nav__desktop .nav__sec .nav__cart--desktop .nav__cartShopping--desktop {
  justify-content: center;
}
.nav__desktop .nav__sec .nav__cart--desktop .nav__shoppingIconCart {
  cursor: pointer;
}
.nav__desktop .nav__sec .nav__cart--desktop .nav__shoppingIconCart img {
  text-align: center;
  margin-left: 10px;
}
.nav__desktop .nav__sec .nav__cart--desktop .nav__cartNumber--desktop {
  right: 43%;
  top: 10%;
}
.nav__desktop .nav__sec .nav__cart--desktop .login {
  flex-direction: column;
  max-width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  border: 2px solid transparent;
  justify-self: flex-end;
  font-weight: 700;
  margin-right: 70px;
  margin-top: 10px;
}
.nav__desktop .nav__sec .nav__cart--desktop .login span {
  font-weight: 100;
}
.nav__desktop .nav__sec .nav__cart--desktop .login:hover {
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}
.nav__desktop .nav__ter {
  width: 100%;
  height: 50px;
  padding: 0;
  float: none;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 7;
  background: #e10a13;
  border-top: 1px solid #f7f7f7;
}
.nav__desktop .nav__ter .nav__links {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__desktop .nav__ter .nav__links .nav__link {
  margin-left: 100px;
  transition: all 0.5s;
  border-bottom: 5px solid transparent;
  text-decoration: none;
  color: #000;
}
.nav__desktop .nav__ter .nav__links .nav__link:hover {
  border-bottom: 5px solid hsl(26deg, 100%, 55%);
}

.nav__container .hambu {
  width: 20px;
  height: 4px;
  background-color: hsl(219deg, 9%, 45%);
  position: relative;
  left: 24%;
  top: -7px;
  z-index: 1000;
  transition: all 0.5s;
  cursor: pointer;
}
.nav__container .hambu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(219deg, 9%, 45%);
  top: 180%;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s;
}
.nav__container .hambu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(219deg, 9%, 45%);
  top: 360%;
  z-index: 1000;
  transition: all 0.5s;
}
.nav__container .hambu--active {
  transform: rotate(-50deg);
}
.nav__container .hambu--active::before {
  opacity: 0;
}
.nav__container .hambu--active::after {
  transform: rotate(100deg);
  top: 0;
}
.nav__container .nav__mobileLinksContainer {
  width: 100%;
  height: 102vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: -20px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.5s;
}
.nav__container .nav__mobileLinks {
  width: 70%;
  height: 100%;
  display: flex;
  background-color: hsl(223deg, 64%, 98%);
}
.nav__container .nav__mobileLinks .nav__linksMobile {
  width: 60%;
  display: grid;
  position: absolute;
  top: 14%;
  left: 4%;
  height: 26%;
  z-index: 1;
  grid-template-columns: 100%;
}
.nav__container .nav__mobileLinks .nav__linksMobile a {
  text-decoration: none;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}

@media screen and (min-width: 780px) {
  .nav__desktop .nav__sec {
    display: grid;
  }

  .nav__mobile {
    display: none;
  }

  .nav {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1445px) {
  .nav {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 780px) {
  .nav__desktop {
    display: none !important;
  }
}
.photo__normal {
  width: 100%;
}

.photo__imgNormal {
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 20px;
}

@media screen and (min-width: 700px) {
  .photo__imgNormal {
    max-width: 600px;
  }
}
.price {
  width: 100%;
  font-size: 16px;
  text-decoration: none;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 55% 45%;
}
.price .price__endprice {
  width: 100%;
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
}
.price .price__endprice .price__porcent {
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: hsl(26deg, 100%, 95%);
  color: hsl(26deg, 100%, 55%);
  margin-left: 10px;
  border-radius: 10px;
}
.price .price__price {
  width: 100%;
  padding-top: 5px;
  text-decoration: line-through;
  color: hsl(219deg, 9%, 45%);
  text-align: end;
}

@media screen and (min-width: 620px) {
  .price {
    font-size: 18px;
  }
}
@media screen and (min-width: 700px) {
  .price {
    grid-template-columns: 100%;
  }
  .price .price__price {
    text-align: start;
  }
}
.showProduct {
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.showProduct .showProduct__mainImg {
  position: relative;
  display: flex;
  justify-content: center;
  height: 70%;
  width: 100%;
  max-width: 550px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.showProduct__arrow {
  position: absolute;
  display: flex;
  background-color: white;
  border-radius: 50%;
  top: 45%;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.showProduct__arrowSvg path {
  transition: all 0.4s;
}

.showProduct__arrow:hover .showProduct__arrowSvg path {
  stroke: hsl(26deg, 100%, 55%);
}

.showProduct__arrow--left {
  left: 5%;
}

.showProduct__arrow--right {
  right: 5%;
}

.showProduct__origalIms {
  width: 100%;
  margin: 0 auto;
  border-radius: 0px;
  object-fit: fill;
}

.showProduct__origalIms--less {
  max-width: 500px;
}

.showProduct__imageThubnail {
  display: none;
  height: 30%;
  grid-template-columns: auto auto auto auto;
  align-items: flex-start;
  justify-content: center;
  grid-column-gap: 20px;
}
.showProduct__imageThubnail .showProduct__cardImg {
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.6s;
  border: 4px solid transparent;
}
.showProduct__imageThubnail .showProduct__cardImg:hover {
  opacity: 0.8;
}
.showProduct__imageThubnail .showPoduct__thubnail {
  border-radius: 20px;
  max-width: 118px;
}
.showProduct__imageThubnail .showProduct__cardImg--active {
  border: 4px solid hsl(26deg, 100%, 55%);
  opacity: 0.8;
  position: relative;
}

@media screen and (min-width: 700px) {
  .showProduct__imageThubnail {
    display: grid;
  }

  .showProduct__origalIms {
    border-radius: 20px;
  }

  .showProduct__arrow--left {
    left: -4%;
  }

  .showProduct__arrow--right {
    right: -4%;
  }
}
.home {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto 50px auto;
}
.home a {
  text-decoration: none;
}
.home .home__loadingTitle {
  color: hsl(26deg, 100%, 55%);
  font-size: 2.4em;
}
.home .home__loadingTitle .home__span {
  transition: all 0.5s;
}
.home .home__loadingTitle .home__span-1 {
  animation: animation 0.7s infinite;
}
.home .home__loadingTitle .home__span-2 {
  animation: animation 0.7s infinite;
  animation-delay: 0.2s;
}
.home .home__loadingTitle .home__span-3 {
  animation: animation 0.7s infinite;
  animation-delay: 0.5s;
}
.home .home__loadingTitle .home__span-2 {
  animation: animation 0.7s infinite;
  animation-delay: 0.7s;
}

@keyframes animation {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}
.home__container {
  grid-template-columns: auto;
  grid-row-gap: 30px;
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .home__container {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }
}
@media screen and (min-width: 700px) {
  .home__container {
    grid-template-columns: auto auto auto;
  }
}
@media screen and (min-width: 1000px) {
  .home__container {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width: 1200Px) {
  .home__container {
    grid-template-columns: auto auto auto auto;
  }
}
.details {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.details__view {
  display: grid;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  grid-template-columns: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .details__view {
    grid-template-rows: 100%;
    grid-template-columns: 48% 48%;
    max-width: 100%;
  }
}
.product {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.product__container {
  display: grid;
  height: 90%;
  grid-template-columns: 100%;
  justify-content: space-between;
}

@media screen and (min-width: 700px) {
  .product {
    width: 90%;
  }
}
@media screen and (min-width: 800px) {
  .product__container {
    grid-template-columns: 48% 48%;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

/*# sourceMappingURL=global.css.map */
