// primary 
$GreyCol:#f5f5f5;
$RedCol:#e10a13;
$OrangeP:hsl(26, 100%, 55%);


// secunday
$VeryVarkBlue: hsl(220, 13%, 13%);
$DarkGrayishBlue: hsl(219, 9%, 45%);
$GrayishBlue: hsl(220, 14%, 75%);
$LightGrayishBlue: hsl(223, 64%, 98%);
$BlackOpacity: hsl(0, 0%, 0%);